schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="shoe">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="shoeid"/>
        <xs:element type="xs:string" name="shoebrand"/>
        <xs:element type="xs:string" name="shoemodel"/>
        <xs:element type="xs:string" name="shoetype"/>
        <xs:element type="xs:string" name="shoecolor"/>
        <xs:element type="xs:integer" name="shoesize"/>
        <xs:element type="xs:float" name="shoeheel"/>
        <xs:element minOccurs="0" type="xs:string" name="shoestorage"/>
        <xs:element minOccurs="0" type="xs:string" name="shoenotice"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>